%h2 Configuration for #{@team.name}

.row.mt-3
  .col-lg-6.my-3
    %h3 Users outside Team
    %p.lead Select user and click button to add.
    = form_with(model: User, url: [@team, :users],
      local: true, class: 'row g-3') do |add_user_form|
      .col-lg-8
        = add_user_form.select :email,
          options_for_select(User.where(team_id: nil).pluck(:email)),
          { include_blank: 'Select user' }, required: true, class: 'form-select', id: 'add-user'
      .col-lg-4
        = add_user_form.submit 'Add User', class: 'btn btn-primary'

  .col.lg-6.my-3
    %h3 Invite users
    %p.lead Invite users to join your team.
    = form_with(model: User, url: [@team, :users],
      local: true, class: 'row g-3') do |invite_user_form|
      .col-lg-8
        .input-group
          .input-group-text Email
          = invite_user_form.text_field :email, class: 'form-control'
      .col-lg-4
        = invite_user_form.submit 'Invite User', class: 'btn btn-primary'

%hr

.row
  .col-lg-12
    %h3 Users in Team
    %p.lead Click to remove.
    .list-group.list-group-horizontal-lg
      - @team.users.each do |user|
        .col-lg-3
          = form_with(model: user, url: [@team, user],
            method: :delete, local: true) do |remove_user_form|
            = remove_user_form.hidden_field :id
            = remove_user_form.submit "Remove #{user.email}",
              class: 'list-group-item list-group-item-action text-center'
