%h2 Configuration for #{@team.name}

.row.mt-3
  .col-lg-6.my-3
    %h3 Users outside Team
    %p.lead Select user and click button to add.
    = form_with(model: User, url: [@team, :users],
      local: true, class: 'row g-3') do |add_user_form|
      .col-lg-8
        = add_user_form.select :email,
          options_for_select(User.where(team_id: nil).pluck(:email)),
          { include_blank: 'Select user' }, required: true, class: 'form-select', id: 'add-user'
      .col-lg-4
        = add_user_form.submit 'Add User', class: 'btn btn-primary'

  .col.lg-6.my-3
    %h3 Invite users
    %p.lead Invite users to join your team.
    = form_with(model: User, url: [@team, :users],
      local: true, class: 'row g-3') do |invite_user_form|
      .col-lg-8
        .input-group
          .input-group-text Email
          = invite_user_form.text_field :email, class: 'form-control'
      .col-lg-4
        = invite_user_form.submit 'Invite User', class: 'btn btn-primary'

%hr

.row
  .col-lg-12
    %h3 Users in Team
    %p.lead Click to remove.
    .list-group.list-group-horizontal-lg
      - @team.users.each do |user|
        .col-lg-3
          = link_to "Remove #{user.email}", team_user_path(@team, user),
            method: :delete, class: 'list-group-item list-group-item-action text-center'

%hr

.row
  .col-lg-12
    %h3 Support Form
    %p.lead Use this form to contact support.
    = form_with(url: team_support_path(@team), local: true, class: 'g-3') do |support_form|
      .input-group.mb-3
        .input-group-text Body
        = support_form.text_area :body, rows: 4, class: 'form-control'
      = support_form.submit 'Send Email', class: 'btn btn-primary'
