%h4= @team.name
%hr
.row.row-cols-1.row-cols-lg-2
  .my-3
    %h3 Users outside Team
    %p.lead Select user and click button to add.
    = form_with(url: team_users_path(@team), method: :post,
      class: 'row row-cols-1 row-cols-lg-2 g-3') do |add_user_form|
      .col
        = add_user_form.select :user_id,
          options_for_select(User.where(team_id: nil).pluck(:email, :id)),
          { include_blank: 'Select user' }, required: true, class: 'form-select', id: 'add-user'
      .col
        = add_user_form.submit 'Add User', class: 'btn btn-primary'

  .my-3
    %h3 Users in Team
    %p.lead Click to remove.
    .list-group.list-group-horizontal-lg.row.row-cols-1.row-cols-lg-2
      - @team.users.each do |user|
        .col
          = link_to "Remove #{user.email}", team_user_path(@team, user), method: :delete,
            class: 'list-group-item list-group-item-action text-center'
