%h2 Configuration for #{@team.name}

.row.mt-3
  .col.lg-12.my-3
    %h3 Invite users
    %p.lead Invite users to join your team.
    = form_with(model: User, url: [@team, :users],
      local: true, class: 'row g-3') do |invite_user_form|
      .col-lg-10
        .input-group
          .input-group-text Email
          = invite_user_form.text_field :email, class: 'form-control'
      .col-lg-2
        = invite_user_form.submit 'Invite User', class: 'btn btn-primary'

%hr

.row
  .col-lg-12
    %h3 Users in Team
    %p.lead Click to remove. If you want to remove yourself, have a team member do it for you.
    .list-group.list-group-horizontal-lg
      - @team.users.where.not(email: current_user.email).each do |user|
        .col-lg-3
          = link_to user.email.to_s, team_user_path(@team, user),
            method: :delete, class: 'list-group-item list-group-item-action text-center'

%hr

.row
  .col-lg-12
    %h3 Support Form
    %p.lead Use this form to contact support.
    = form_with(url: team_support_path(@team), local: true, class: 'g-3') do |support_form|
      .input-group.mb-3
        .input-group-text Body
        = support_form.text_area :body, rows: 4, class: 'form-control'
      = support_form.submit 'Send Email', class: 'btn btn-primary'
