%h1 New Team

= form_with(model: @team, local: true) do |form|
  - if @team.errors.any?
    %div
      %h2 #{pluralize(@team.errors.count, 'error')} prohibited this team from being saved:
    %ul
      - @team.errors.full_messages.each do |message|
        %li= message
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'

  = form.submit 'Submit', class: 'btn btn-primary'
