%h1 New Team

= render partial: 'shared/form_errors', locals: { model: @team }

= form_with(model: @team) do |form|
  .mb-3
    .input-group
      .input-group-text
        = form.label :name
      = form.text_field :name, class: 'form-control'

  = form.submit 'Create Team', class: 'btn btn-primary'
