.row
  .col-lg-2
    = image_tag "#{comment.user.gravatar_url}?s=20&d=retro",
      class: 'me-1 gravatar-img', alt: ''
    = link_to comment.user.printable_name, "mailto:#{comment.user.email}"
  .col-lg-1
    %span= comment.created_at.strftime('%b %e')
  .col-lg-9
    %div!= comment.body_html
.row.my-3
  .col-lg-2
    = render partial: 'teams/topics/vote_list_group', locals: { votable: comment }
  .col-lg-4
    - if policy(comment).edit?
      = link_to 'Edit Comment',
        edit_team_topic_comment_path(comment.topic.team, comment.topic, comment),
        class: 'btn btn-secondary'
