= turbo_frame_tag dom_id(comment) do
  %li.list-group-item.border-0.pt-0.pb-2{ data: { controller: 'quote-reply' } }
    .row.justify-content-start.p-1.border-top.pt-2
      .col-auto.pt-1
        = image_tag "#{comment.user.gravatar_url}?s=20&d=retro",
          class: 'me-1 gravatar-img', alt: ''
        = link_to comment.user.printable_name, "mailto:#{comment.user.email}"
        .d-none{ data: { 'quote-reply-target' => 'authoremail' } }
          = comment.user.email
      .col-auto.pt-1.ms-auto.text-secondary
        %span{ data: { 'quote-reply-target' => 'date' } }= comment.created_at.strftime('%b %e')
      .col-auto
        = render partial: 'teams/topics/vote_list_group', locals: { votable: comment }
      .col-auto
        - if policy(comment).edit?
          = link_to 'Edit',
            edit_team_topic_comment_path(comment.topic.team, comment.topic, comment),
            class: 'btn btn-sm btn-outline-secondary'
      .col-auto
        %button.btn.btn-sm.btn-outline-secondary{ data: { action: 'click->quote-reply#quote' } }
          Quote
      .col-auto
        - if comment.user == current_user
          = link_to 'Archive',
            team_topic_comment_archive_path(comment.topic.team, comment.topic, comment),
            class: 'btn btn-outline-secondary btn-sm',
            data: { confirm: 'Are you sure you want to permanently archive this topic? It will no longer be visible to anyone in your project and only support can recover it for you.' }
    .row.ps-2
      .toastui-editor-contents.px-2!= comment.body_html
      .d-none{ data: { 'quote-reply-target' => 'content' } }= comment.body
