- submit_action = comment.persisted? ? 'Update Comment' : 'Create Comment'
= form_with(model: comment, url: [comment.topic.team, comment.topic, comment]) do |form|
  = render partial: 'shared/form_errors', locals: { model: comment }
  .mb-1.visually-hidden
    = form.label :body
  .mb-3
    = render partial: 'shared/markdown_text_area', locals: { form: form, name: :body,
      options: { rows: '10', required: true, class: 'form-control mentionable' } }
  = form.submit submit_action, class: 'btn btn-primary'

= content_for :page_specific_javascripts do
  = javascript_pack_tag 'markdown-toolbar-element', defer: true
  = javascript_pack_tag 'tribute', defer: true
