.row.my-5
  %h2= @topic.title

  = link_to 'Back to Topic', team_topic_path(@comment.topic.team, @comment.topic)

  = render partial: 'shared/form_errors', locals: { model: @comment }

  = form_with(model: @comment, url: [@comment.topic.team, @comment.topic, @comment],
    local: true) do |form|
    .mb-3
      = form.label :body
      #editor
        = form.text_area :body, rows: '4', required: true, class: 'form-control'        

    = form.submit 'Update Comment', class: 'btn btn-primary'

:javascript
  const editor = new Editor({
    el: document.querySelector('#comment_body'),
    height: '500px',
    initialEditType: 'markdown',
    previewStyle: 'vertical'
  });
  editor.getHtml();