= javascript_pack_tag 'editor', 'data-turbolinks-track': 'reload'

.row.my-5
  %h2= @topic.title

  = link_to 'Back to Topic', team_topic_path(@comment.topic.team, @comment.topic)

  = render partial: 'shared/form_errors', locals: { model: @comment }

  = form_with(model: @comment, id: 'form', url: [@comment.topic.team, @comment.topic, @comment],
    local: true) do |form|
    .mb-3
      %h5 Comment Body
      = form.text_area :body, hidden: true, rows: '4', required: true, class: 'form-control'
      #comment-editor
    = form.submit 'Update Comment', class: 'btn btn-primary'

:javascript
  // Attach editor to textarea
  const editor = new Editor({
    el: document.querySelector('#comment-editor'),
    height: '300px',
    initialEditType: 'markdown',
    initialValue: document.getElementById('comment_body').value,
    previewStyle: 'tab'
  });
  function updateTextArea() {
    document.getElementById('comment_body').value = editor.getMarkdown()
  }
  // Populates the textarea with the editor content before submitting
  const form = document.getElementById('form');
  form.addEventListener('submit', updateTextArea);
