%h1 Team: #{@team.name}

.row.my-5
  %h2= @topic.title

  = link_to 'Back to Topic', team_topic_path(@comment.topic.team, @comment.topic)

  .my-4
    %ul.list-group
      - @comment.errors.full_messages.each do |message|
        %li.list-group-item.list-group-item-danger= message

  = form_with(model: @comment, url: [@comment.topic.team, @comment.topic, @comment],
    local: true) do |form|
    .mb-3
      .input-group
        .input-group-text Body
        = form.text_area :body, required: true, class: 'form-control'

    = form.submit 'Edit Comment', class: 'btn btn-primary'
