= turbo_frame_tag 'topic_comments' do
  .row
    %ul.list-group.list-group-flush#comments
      - @comments.each do |comment|
        %li.list-group-item.mb-2
          = turbo_frame_tag "comment_#{comment.id}" do
            = render partial: 'teams/topics/comments/comment', locals: { comment: comment }
  .row.mt-3
    != pagy_bootstrap_nav(@pagy)

    - if @topic.active?
      = turbo_frame_tag 'new_comment', src: new_team_topic_comment_path(@topic.team, @topic),
          target: '_top'
