%h1 New Comment

= link_to 'All Comments', team_topic_path(@comment.topic.team, @comment.topic)

= form_with(model: @comment, url: [@comment.topic.team, @comment.topic, @comment],
  local: true) do |form|
  - if @comment.errors.any?
    %div
      %h2 #{pluralize(@comment.errors.count, 'error')} prohibited this comment from being saved:
    %ul
      - @comment.errors.full_messages.each do |message|
        %li= message
  = form.hidden_field :user_id, value: current_user.id
  .input-group.mb-2
    .input-group-text Body
    = form.text_area :body, required: true, class: 'form-control'

  = form.submit 'Submit', class: 'btn btn-primary'
