%h1.visually-hidden Notifications

.row
  .col-lg-6
    .list-group
      - if @notifications.present?
        - @notifications.each do |notification|
          = link_to user_notification_path(current_user.id, notification),
            class: 'list-group-item list-group-item-action' do
            = notification_text(notification)
            | Created #{notification.created_at.strftime('%b %e')}
      - else
        No notifications

.row.my-3
  != pagy_bootstrap_nav(@pagy)

.row
  = link_to clear_user_notifications_path(current_user), method: :post do
    = icon('fas', 'check-double', 'aria-hidden': 'true')
    %span Clear all notifications (all pages)
