= turbo_frame_tag dom_id(topic) do
  .row
    .col-lg-8.mt-2
      %h2= topic.title
    .col-lg-1.mt-2
      - if topic.active?
        = link_to 'Edit', edit_team_topic_path(topic.team, topic),
          class: 'btn btn-secondary'
    .col-lg-1.mt-2
      = form_with(url: team_topic_subscribe_path(topic.team, topic)) do |subscription_form|
        - if user_subscribed?(topic)
          = subscription_form.hidden_field :subscribed, value: 0
          = subscription_form.submit 'Unwatch', class: 'btn btn-secondary'
        - else
          = subscription_form.hidden_field :subscribed, value: 1
          = subscription_form.submit 'Watch', class: 'btn btn-secondary'
    .col-lg-1.mt-2
      = form_with(model: topic, url: team_topic_toggle_path(topic.team, topic),
        data: { 'turbo-frame': '_top' }) do |form|
        - if topic.active?
          = form.hidden_field :status, value: :closed
          = form.submit 'Resolve', class: 'btn btn-success'
        - else
          = form.hidden_field :status, value: :active
          = form.submit 'Reopen', class: 'btn btn-primary'
    .col-lg-1.mt-2
      %ul.list-group.list-group-horizontal
        = render partial: 'teams/topics/vote_list_group', locals: { votable: topic }
  .row.mt-1
    .col-lg-8
      = link_to image_tag("#{topic.user.gravatar_url}?s=20&d=retro",
        class: 'gravatar-img mb-1',
        title: "#{topic.user.printable_name} (Creator)",
        alt: ''),
          "mailto:#{topic.user.email}"
      - topic.subscribed_users.each do |participant|
        - unless topic.user == participant
          = link_to image_tag("#{participant.gravatar_url}?s=20&d=retro",
            class: 'gravatar-img mb-1', title: participant.name, alt: ''),
              "mailto:#{participant.email}"
    .col-lg-4
      %p.text-secondary
        = topic_due_date_span(topic)


  .row
    .col-lg-8.border
      %h6.mt-2.text-secondary.small Description
      .p-3!= topic.description_html

    .col-lg-4.border
      %h6.mt-2.text-secondary.small
        Outcome
        - if topic.active?
          (Work in Progress)
      .p-3
        != topic.outcome_html || 'Content has not been started yet'
