%ul.list-group.list-group-flush
  - if topic_collection.present?
    %li.list-group-item.d-none.d-lg-block
      .row.small
        .col-lg-6
          Title
        .col-lg-2
          Author
        .col-lg-2
          Created
        .col-lg-2
          Due Date

    - topic_collection.each do |topic|
      %li.list-group-item
        .row
          .col-lg-6
            = link_to topic.title, team_topic_path(current_user.team, topic)
            - if user_subscribed?(topic)
              = assistive_icon('fas', 'star', 'Is Watched', classname: 'text-faded')
              -# It's cheaper to check this in memory than it is to query the
                database for every single topic. We expect an user to have a
                couple dozen notifications at the most.
            - if topic_has_notification?(unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'text-warning')
          .col-lg-2
            = image_tag "#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'me-1 gravatar-img', alt: ''
            = link_to topic.user.printable_name, "mailto:#{topic.user.email}"
          .col-lg-2
            %span Created #{topic.created_at.strftime('%b %e')}
          .col-lg-2
            %span= printable_due_date(topic)
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    %li.list-group-item
      = link_to 'New Topic', new_team_topic_path(current_user.team), class: 'btn btn-primary'
