%ul.list-group.list-group-flush
  - if topic_collection.present?
    %li.list-group-item.d-none.d-lg-block
      .row.small
        .col-lg-6
          Title
        .col-lg-2
          Author
        .col-lg-2
          Created
        .col-lg-2
          Due Date

    - topic_collection.each do |topic|
      %li.list-group-item
        .row
          .col-lg-6
            = link_to topic.title, team_topic_path(current_user.team, topic)
          .col-lg-2
            = link_to topic.user.printable_name, "mailto:#{topic.user.email}"
          .col-lg-2.text-secondary
            %span Created #{topic.created_at.strftime('%b %e')}
          .col-lg-2.text-secondary
            %span= printable_due_date(topic)
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    %li.list-group-item
      = link_to 'New Topic', new_team_topic_path(current_user.team), class: 'btn btn-primary'
