%ul.list-group.list-group-flush
  - if topic_collection.present?
    %li.list-group-item
      .row
        .col-lg-7.lead
          Title
        .col-lg-2.lead
          Author
        .col-lg-1.lead
          Created
        .col-lg-2.lead
          Due Date

    - sort = topic_collection.sort_by { |a| a.due_date.presence || Time.zone.today + 1000.years }
    - sort.each do |topic|
      %li.list-group-item
        .row
          .col-lg-7
            = link_to topic.title, team_topic_path(current_user.team, topic)
          .col-lg-3
            = link_to topic.user.printable_name, "mailto:#{topic.user.email}"
          .col-lg-1
            %span= topic.created_at.strftime('%b %e')
          .col-lg-2
            - if topic.active?
              - if topic.due_date?
                - if topic.days_remaining.negative?
                  %span #{pluralize(topic.days_remaining.abs, 'day')} overdue
                - else
                  %span #{pluralize(topic.days_remaining, 'day')} remaining
              - else
                No due date
            - else
              Resolved
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    %li.list-group-item
      = link_to 'New Topic', new_team_topic_path(current_user.team), class: 'btn btn-primary'
