%ul.list-group.list-group-flush
  - if topic_collection.present?
    - topic_collection.each do |topic|
      %li.list-group-item
        .row
          .col-lg-5.mb-1
            = link_to topic.title, team_topic_path(current_user.team, topic)
            - if user_subscribed?(topic)
              = assistive_icon('fas', 'star', 'Is Watched', classname: 'ms-1 text-faded')
            - if topic.pinned?
              = assistive_icon('fas', 'thumbtack', 'Is Pinned', classname: 'ms-1 text-info')
            - if topic_has_notification?(unique_unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'ms-1 text-warning')
          .col-lg-3.mb-1
            %ul.list-group.list-group-horizontal.gap-2.flex-wrap
              - topic.labels.each do |label|
                %li.list-group-item.badge.rounded-pill.bg-success.topic-label= label
          .col-lg-2.mb-1
            = link_to image_tag("#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'gravatar-img mb-1',
              title: "#{topic.user.printable_name} (Creator)",
              alt: "#{topic.user.printable_name} (Creator)"),
                "mailto:#{topic.user.email}"
            - topic.subscribed_users.where.not(id: topic.user.id).each do |participant|
              = link_to image_tag("#{participant.gravatar_url}?s=20&d=retro",
                title: participant.printable_name,
                class: 'gravatar-img mb-1', alt: participant.printable_name),
                  "mailto:#{participant.email}"
          .col-lg-2.mb-1
            .row
              %span Created #{topic.created_at.strftime('%b %e')}
            .row
              = topic_due_date_span(topic)
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    = link_to new_team_topic_path(current_user.team) do
      %span.m-3.btn.btn-primary New Topic
