- submit_action = topic.persisted? ? 'Update Topic' : 'Create Topic'
= form_with(model: topic, url: [topic.team, topic], local: true) do |form|
  = form.hidden_field :description_checksum, value: string_checksum(topic.description)
  = form.hidden_field :outcome_checksum, value: string_checksum(topic.outcome)
  .mb-3
    .mb-1
      = form.label :title
    = form.text_field :title, required: true, class: 'form-control'
  .mb-3
    .mb-1
      = form.label :description
      = form.rich_text_area :description
  .mb-3
    .mb-1
      = form.label :outcome
      = form.rich_text_area :outcome
  .row
    .col-lg-4.mb-3
      .mb-1
        = form.label :due_date
      = form.date_field :due_date, class: 'form-control'

  = form.submit submit_action, class: 'btn btn-primary'

= content_for :page_specific_javascripts do
  = javascript_pack_tag 'markdown-toolbar-element', defer: true
  = javascript_pack_tag 'tribute', defer: true
