- submit_action = topic.persisted? ? 'Update' : 'Create'
- submit_id = topic.persisted? ? 'updatetopicbutton' : 'createtopicbutton'
= form_with(model: topic, url: [topic.team, topic]) do |form|
  = render partial: 'shared/form_errors', locals: { model: topic }
  = form.hidden_field :description_checksum, value: string_checksum(topic.description)
  = form.hidden_field :outcome_checksum, value: string_checksum(topic.outcome)
  .row.mt-2
    .mb-3
      .mb-1
        = form.label :title
      = form.text_field :title, required: true, class: 'form-control'
  .row
    .col-lg-8
      .mb-1
        = form.label :description
      = render partial: 'shared/markdown_text_area', locals: { form: form, name: :description,
        options: { rows: '20', required: true, class: 'form-control',
        data: { controller: 'attach-tribute', action: 'focus->attach-tribute#attach:once' } } }
    .col-lg-4
      .mb-1
        = form.label :outcome
      = render partial: 'shared/markdown_text_area', locals: { form: form, name: :outcome,
        options: { rows: '20', class: 'form-control',
        data: { controller: 'attach-tribute', action: 'focus->attach-tribute#attach:once' } } }
  .row.align-items-end
    .col-lg-4
      = form.label :due_date
      = form.date_field :due_date, class: 'form-control'
    .col-lg-1
      = form.submit submit_action, class: 'btn btn-primary', id: submit_id
