- submit_action = topic.persisted? ? 'Update' : 'Create'
= form_with(model: topic, url: [topic.team, topic]) do |form|
  = render partial: 'shared/form_errors', locals: { model: topic }
  = form.hidden_field :description_checksum, value: string_checksum(topic.description)
  = form.hidden_field :outcome_checksum, value: string_checksum(topic.outcome)
  .row.mt-2
    .mb-3
      .mb-1
        = form.label :title, id: 'topic-title'
      = form.text_field :title, required: true, autocomplete: 'off', class: 'form-control'
  .row
    .col-lg-7
      .mb-1
        = form.label :description, id: 'topic-description'
      = render partial: 'shared/markdown_text_area', locals: { form: form, name: :description }
    .col-lg-5
      .mb-1
        = form.label :outcome, id: 'topic-outcome'
      = render partial: 'shared/markdown_text_area', locals: { form: form, name: :outcome }
  .row.mt-3
    .col-lg-7
      .input-group
        .input-group-text= form.label :label_list, id: 'topic-labellist'
        = form.text_field :label_list, class: 'form-control'
      .form-text.text-secondary
        Multiple labels can be separated with a space.
    .col-lg-4.mb-2
      .input-group
        .input-group-text= form.label :due_date, id: 'topic-duedate'
        = form.date_field :due_date, class: 'form-control'
    .col-lg-1
      = form.submit submit_action, class: 'btn btn-primary'
