- submit_action = topic.persisted? ? 'Update Topic' : 'Create Topic'
= form_with(model: topic, url: [topic.team, topic], local: true) do |form|
  .mb-3
    .mb-1
      = form.label :title
    = form.text_field :title, required: true, class: 'form-control'
  .mb-3
    .mb-1
      = form.label :description
    = render partial: 'shared/markdown_text_area', locals: { form: form, name: :description,
      options: { rows: '6', required: true, class: 'form-control text-area-autoresize' } }
  .mb-3
    .mb-1
      = form.label :outcome
    = render partial: 'shared/markdown_text_area', locals: { form: form, name: :outcome,
      options: { rows: '6', class: 'form-control text-area-autoresize' } }
  .row
    .col-lg-4.mb-3
      .mb-1
        = form.label :due_date
      = form.date_field :due_date, class: 'form-control'

  = form.submit submit_action, class: 'btn btn-primary'

= content_for :page_specific_javascripts do
  = javascript_pack_tag 'text-area-autoresize', defer: true
  = javascript_pack_tag 'markdown-toolbar-element', defer: true
