%ul.list-group.list-group-flush
  - if topic_collection.present?
    - topic_collection.each do |topic|
      %li.list-group-item
        .row
          .col-lg-6
            = link_to topic.title, team_topic_path(current_user.team, topic)
            - if user_subscribed?(topic)
              = assistive_icon('fas', 'star', 'Is Watched', classname: 'ms-1 text-faded')
              -# It's cheaper to check this in memory than it is to query the
                database for every single topic. We expect an user to have a
                couple dozen notifications at the most.
            - if topic.pinned?
              = assistive_icon('fas', 'thumbtack', 'Is Pinned', classname: 'ms-1 text-info')
            - if topic_has_notification?(unique_unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'ms-1 text-warning')
          .col-lg-2
            = image_tag "#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'me-1 gravatar-img', alt: ''
            = link_to topic.user.printable_name, "mailto:#{topic.user.email}"
          .col-lg-2
            %span Created #{topic.created_at.strftime('%b %e')}
          .col-lg-2
            = topic_due_date_span(topic)
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    = link_to new_team_topic_path(current_user.team) do
      %span.m-3.btn.btn-primary New Topic
