%h5.ms-2.d-lg-none #{list_heading.capitalize} Topics
%ul.list-group.list-group-flush
  - if topic_collection.present?
    %li.list-group-item.border-0.my-0.d-none.d-lg-block.p-2.py-0.px-3
      .row.pb-1.bg-light
        .col-lg-5.fw-bold{ id: "#{list_heading}-topics" }
          #{list_heading.capitalize} Topics
        .col-lg-2.small
          - if list_heading == :active
            Due
          - else
            Last Activity
        .col-lg-3.small
          Labels
        .col-lg-2.small
          Participants
    - topic_collection.each_with_index do |topic, topic_index|
      - list_item_style = topic.active? ? 'text-dark' : 'text-secondary'
      %li.list-group-item.p-2.mb-1.pb-0.px-3{ class: list_item_style }
        .row.my-2
          .col-8.col-lg-5.mb-2
            - if topic_hotkeys
              = link_to topic.title, team_topic_path(current_user.team, topic),
                data: { controller: 'hotkey', hotkey: topic_index }
            - else
              = link_to topic.title, team_topic_path(current_user.team, topic),
                class: list_item_style
            - if topic.pinned?
              = assistive_icon('fas', 'bookmark', 'Is Pinned', classname: 'ms-2 text-secondary')
            - if topic_has_notification?(unique_unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'ms-2 text-warning')
              %span.text-secondary.small
                = current_user.topic_notifications(topic).count
          .col-4.col-lg-2.mb-2.small
            %p.mb-0
              - if list_heading == :active
                = topic_due_date_span(topic)
              - else
                Updated #{time_ago_in_words(topic.last_interacted)} ago
          .col-8.col-lg-3.mb-2
            - topic.labels.each do |label|
              %span.topic-label.badge.bg-info= label
          .col-4.col-lg-2
            = link_to image_tag("#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'gravatar-img mb-1',
              title: "#{topic.user.printable_name} (Creator)",
              alt: "#{topic.user.printable_name} (Creator)"),
                "mailto:#{topic.user.email}"
            - topic.subscribed_users.where.not(id: topic.user.id).each do |participant|
              = link_to image_tag("#{participant.gravatar_url}?s=20&d=retro",
                title: participant.printable_name,
                class: 'gravatar-img mb-1', alt: participant.printable_name),
                  "mailto:#{participant.email}"
  - else
    %li.list-group-item
      %p= empty_state_text
