- submit_action = topic.persisted? ? 'Update Topic' : 'Create Topic'
= form_with(model: topic, url: [topic.team, topic], local: true) do |form|
  .mb-3
    = form.label :title, class: 'mb-1'
    = form.text_field :title, required: true, class: 'form-control'
  .mb-3
    = form.label :description, class: 'mb-1'
    = render partial: 'shared/markdown_text_area', locals: { form: form, name: :description,
      options: { rows: '6', required: true, class: 'form-control autoresize' } }
  .mb-3
    = form.label :outcome, class: 'mb-1'
    = render partial: 'shared/markdown_text_area', locals: { form: form, name: :outcome,
      options: { rows: '6', class: 'form-control autoresize' } }
  .row
    .col-lg-4.mb-3
    = form.label :due_date, class: 'mb-1'
    = form.date_field :due_date, class: 'form-control'

  = form.submit submit_action, class: 'btn btn-primary'
