%ul.list-group.list-group-flush
  - if topic_collection.present?
    %li.list-group-item.border-0.mt-0.d-none.d-lg-block
      .row
        .col-lg-5.text-secondary
          Title
        .col-lg-2.text-secondary
          Due
        .col-lg-3.text-secondary
          Labels
        .col-lg-2.text-secondary
          Participants
    - topic_collection.each_with_index do |topic, topic_index|
      %li.list-group-item.mb-2.pb-0
        .row.mb-3
          .col-lg-5.mb-2
            - if topic_hotkeys
              = link_to topic.title, team_topic_path(current_user.team, topic),
                data: { controller: 'hotkey', hotkey: topic_index }
            - else
              = link_to topic.title, team_topic_path(current_user.team, topic)
            - if user_subscribed?(topic)
              = assistive_icon('fas', 'star', 'Is Watched', classname: 'ms-1 text-faded')
            - if topic.pinned?
              = assistive_icon('fas', 'thumbtack', 'Is Pinned', classname: 'ms-1 text-info')
            - if topic_has_notification?(unique_unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'ms-1 text-warning')
          .col-lg-2.mb-2
            = topic_due_date_span(topic)
          .col-lg-3.mb-2
            %ul.list-group.list-group-horizontal.gap-2.flex-wrap
              - topic.labels.each do |label|
                %li.list-group-item.badge.topic-label= label
          .col-lg-2.mb-2
            = link_to image_tag("#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'gravatar-img mb-1',
              title: "#{topic.user.printable_name} (Creator)",
              alt: "#{topic.user.printable_name} (Creator)"),
                "mailto:#{topic.user.email}"
            - topic.subscribed_users.where.not(id: topic.user.id).each do |participant|
              = link_to image_tag("#{participant.gravatar_url}?s=20&d=retro",
                title: participant.printable_name,
                class: 'gravatar-img mb-1', alt: participant.printable_name),
                  "mailto:#{participant.email}"
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    = link_to new_team_topic_path(current_user.team) do
      %span.m-3.btn.btn-primary New Topic
