%ul.list-group.list-group-flush
  - if topic_collection.present?
    - topic_collection.each do |topic|
      %li.list-group-item
        .row
          .col-lg-6.mb-1
            = link_to topic.title, team_topic_path(current_user.team, topic)
            - if user_subscribed?(topic)
              = assistive_icon('fas', 'star', 'Is Watched', classname: 'text-faded')
              -# It's cheaper to check this in memory than it is to query the
                database for every single topic. We expect an user to have a
                couple dozen notifications at the most.
            - if topic_has_notification?(unique_unread_notifications, topic)
              = assistive_icon('fas', 'bell', 'Has Notification', classname: 'text-warning')
          .col-lg-2.mb-1
            = link_to image_tag("#{topic.user.gravatar_url}?s=20&d=retro",
              class: 'gravatar-img mb-1 me-4',
              alt: "#{topic.user.printable_name} (Creator)"),
                "mailto:#{topic.user.email}"
            - topic.subscribed_users.each do |participant|
              = link_to image_tag("#{participant.gravatar_url}?s=20&d=retro",
                class: 'gravatar-img mb-1', alt: participant.printable_name),
                  "mailto:#{participant.email}"
          .col-lg-2.mb-1
            = topic_due_date_span(topic)
          .col-lg-2.mb-1
            %span Created #{topic.created_at.strftime('%b %e')}
  - else
    %li.list-group-item
      %p= empty_state_text

  - if new_form
    = link_to new_team_topic_path(current_user.team) do
      %span.m-3.btn.btn-primary New Topic
