%ul.list-group.list-group-horizontal
  - votable.votes.group(:emoji).size.each do |emoji_name, count|
    - content = emoji_group_text(emoji_name, count)
    - vote = votable.votes.find_by(user: current_user, emoji: emoji_name)

    :ruby
      form_path = case votable
                  when Topic
                    [votable.team, votable]
                  when Comment
                    [votable.topic.team, votable.topic, votable]
                  end

    - if vote
      = form_with(model: vote, url: form_path.push(vote), local: true,
        method: :delete) do |remove_vote_form|
        = remove_vote_form.hidden_field :id
        = remove_vote_form.submit content, class: 'list-group-item list-group-item-action active'
    - else
      = form_with(model: Vote, url: form_path.push(:votes), local: true) do |add_vote_form|
        = add_vote_form.hidden_field :emoji, value: emoji_name
        = add_vote_form.submit content, class: 'list-group-item list-group-item-action'
