%h1 Team: #{@team.name}

.row.my-5
  %h2= @topic.title

  = link_to 'Back to Topic', team_topic_path(@topic.team, @topic)

  .my-4
    %ul.list-group
      - @topic.errors.full_messages.each do |message|
        %li.list-group-item.list-group-item-danger= message

  = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
    .mb-3
      .input-group
        .input-group-text Title
        = form.text_field :title, required: true, class: 'form-control'
    .mb-3
      .input-group
        .input-group-text Description
        = form.text_area :description, required: true, class: 'form-control'

    = form.submit 'Update Topic', class: 'btn btn-primary'
