.row.my-5
  %h2= @topic.title

  = link_to 'Back to Topic', team_topic_path(@topic.team, @topic)

  = render partial: 'shared/form_errors', locals: { model: @topic }
  = render partial: 'topic_form', locals: { topic: @topic }

= javascript_pack_tag 'autoresize-textarea'
