%h1.visually-hidden Topics

.row
  %h2.ps-0.mb-0 Active Topics
  = render partial: 'topics', locals: { topic_collection: @active_topics,
    new_form: true,
    empty_state_text: 'Active topics will appear here. Try creating a new topic to get started.' }
- if @pagy_active_topics.pages > 1
  .row.mt-3
    != pagy_bootstrap_nav(@pagy_active_topics)

- if @team.message
  .row.mt-3
    %h2.ps-0.mb-0 Team Message
    .p-3= @team.message || 'No message is set for the team right now.'

.row.mt-3
  %h2.ps-0.mb-0 Closed Topics
  = render partial: 'topics', locals: { topic_collection: @closed_topics,
    new_form: false,
    empty_state_text: 'Once you have closed some topics they will appear here.' }
- if @pagy_closed_topics.pages > 1
  .row.mt-3
    != pagy_bootstrap_nav(@pagy_closed_topics)
