= content_for :extra_nav_items do
  %button.ms-3.btn.btn-sm.btn-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoTopicIndex' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page', classname: 'text-white')

%h1.visually-hidden Topics

- if @team.message.present?
  .row.bg-light.text-dark.border
    .p-3.fs-6= @team.message

.row.mt-3
  = form_with(url: team_topics_path(current_user.team), method: :get) do |form|
    .row.mt-2.justify-content-end
      .col-lg-4

        .input-group.me-2
          = form.text_field :labels, value: params[:labels],
            placeholder: 'Separate labels with space',
            class: 'bg-light form-control', autocomplete: 'false'
          .input-group-append.me-2
            = link_to 'Clear', team_topics_path(current_user.team),
              class: 'btn btn-outline-secondary'
          .input-group-append
            = form.submit 'Filter', class: 'btn btn-secondary', name: nil

.row.mt-3
  %h2#active-topics Active Topics
  = render partial: 'topics', locals: { topic_collection: @active_topics,
    new_form: true, topic_hotkeys: true,
    empty_state_text: 'Active topics will appear here. Try creating a new topic to get started.' }
- if @pagy_active_topics.pages > 1
  .row.mt-3
    != pagy_bootstrap_nav(@pagy_active_topics)

.row.mt-3
  %h2#closed-topics Closed Topics
  = render partial: 'topics', locals: { topic_collection: @closed_topics,
    new_form: false, topic_hotkeys: false,
    empty_state_text: 'Once you have closed some topics they will appear here.' }
- if @pagy_closed_topics.pages > 1
  .row.mt-3
    != pagy_bootstrap_nav(@pagy_closed_topics)
