= content_for :extra_nav_items do
  %button.btn.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoTopicIndex' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page')

%h1.visually-hidden Topics

- if @team.message.present?
  .row.bg-white.border.shadow-sm.border-info.border-2.rounded.mb-3.p-2
    .col-12
      .text-break.fs-6= @team.message

:ruby
  empty_state_text = if params[:labels].present?
                      'No match found for this label filter.'
                     else
                      'Once you have created some topics they will appear here.
                       Try creating a new topic using the orange button above to get started.'
                     end
.row.mt-2.border.bg-white.rounded.shadow-sm.p-2
  = render partial: 'topics', locals: { topic_collection: @active_topics, topic_hotkeys: true,
    empty_state_text: empty_state_text, list_heading: :active }
- if @pagy_active_topics.pages > 1
  .row.mt-3
    != pagy_bootstrap_nav(@pagy_active_topics)

- if @resolved_topics.present?
  .row.mt-3.border.bg-white.rounded.shadow-sm.p-2
    = render partial: 'topics', locals: { topic_collection: @resolved_topics, topic_hotkeys: false,
      empty_state_text: '',
      list_heading: :resolved }
  - if @pagy_resolved_topics.pages > 1
    .row.mt-3
      != pagy_bootstrap_nav(@pagy_resolved_topics)
