.row.my-5
  %h2= @topic.title
  = link_to 'Back to All Topics', team_topics_path(@topic.team)
  - if @topic.active?
    = link_to 'Edit Topic', edit_team_topic_path(@topic.team, @topic)
    = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
      = form.hidden_field :status, value: :closed
      = form.submit 'Close Topic', class: 'btn btn-primary'
  - else
    = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
      = form.hidden_field :status, value: :active
      = form.submit 'Open Topic', class: 'btn btn-primary'

.row.mb-5
  .col-lg-8
    = @topic.description_html.html_safe # rubocop:disable Rails/OutputSafety

  .col-lg-4
    %h3 Decision
    %p= @topic.decision_html&.html_safe # rubocop:disable Rails/OutputSafety
    - if @topic.active?
      = link_to 'Edit Decision', edit_team_topic_path(@topic.team, @topic)

.row
  %ul.list-group.list-group-flush
    - @topic.comments.each do |comment|
      %li.list-group-item
        .row
          .col-lg-7
            %p= comment.body_html.html_safe # rubocop:disable Rails/OutputSafety
          .col-lg-3
            %span= comment.user.email
          .col-lg-2
            - if @topic.active?
              %span= link_to 'Edit Comment',
                edit_team_topic_comment_path(@topic.team, @topic, comment)
    - if @topic.active?
      %li.list-group-item
        = form_with(model: Comment.new, url: [@topic.team, @topic, Comment.new],
          local: true, class: 'row g-3') do |form|
          = form.hidden_field :user_id, value: current_user.id
          .col-lg-10
            = form.text_area :body, rows: '4', required: true, class: 'form-control'
          .col-lg-2
            = form.submit 'Create Comment', class: 'btn btn-primary'
