.row-mb-1
  %h2= @topic.title

.row.mb-0
  .col-lg-8
    %h6 Description

  .col-lg-4
    - if @topic.active?
      %h6 Decision (Work in Progress)
    - else
      %h6 Decision

.row.mb-1
  .col-lg-8
    %p= @topic.description_html.html_safe # rubocop:disable Rails/OutputSafety
    - if @topic.active?
      = link_to 'Edit Topic Description/Title', edit_team_topic_path(@topic.team, @topic)

  .col-lg-4
    - if @topic.active?
      %p= @topic.decision_html&.html_safe # rubocop:disable Rails/OutputSafety
      %p
        = link_to 'Edit Decision', edit_team_topic_path(@topic.team, @topic)
        = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
          = form.hidden_field :status, value: :closed
          = form.submit 'Resolve Topic', class: 'btn btn-primary'
    - else
      %p= @topic.decision_html&.html_safe # rubocop:disable Rails/OutputSafety
      %p
        = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
          = form.hidden_field :status, value: :active
          = form.submit 'Reopen Topic', class: 'btn btn-primary'

.row
  %ul.list-group.list-group-flush
    - @topic.comments.each do |comment|
      %li.list-group-item
        .row
          .col-lg-7
            %p= comment.body_html.html_safe # rubocop:disable Rails/OutputSafety
          .col-lg-3
            %span= comment.user.email
          .col-lg-2
            - if @topic.active?
              %span= link_to 'Edit Comment',
                edit_team_topic_comment_path(@topic.team, @topic, comment)
    - if @topic.active?
      %li.list-group-item
        = form_with(model: Comment.new, url: [@topic.team, @topic, Comment.new],
          local: true, class: 'row g-3') do |form|
          = form.hidden_field :user_id, value: current_user.id
          .col-lg-10
            = form.text_area :body, required: true, class: 'form-control'
          .col-lg-2
            = form.submit 'Create Comment', class: 'btn btn-primary'
