= content_for :extra_nav_items do
  %button.btn.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoTopicShow' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page')

.row.shadow-sm.bg-white.border.rounded
  = render @topic

  - if current_user.preferences.inverse_comment_order?
    = render partial: 'teams/topics/comments/comment_box', locals: { topic: @topic }

  %ul.list-group.list-group.pe-0.mt-3#comments
    - @topic_comments.each do |comment|
      = render partial: 'teams/topics/comments/comment', locals: { comment: comment }

  - unless current_user.preferences.inverse_comment_order?
    = render partial: 'teams/topics/comments/comment_box', locals: { topic: @topic }
