.row-mb-1
  %h2= @topic.title

.row
  .col-lg-8
    %h6 Description
    %p= @topic.description_html.html_safe # rubocop:disable Rails/OutputSafety
    = form_with(url: team_topic_subscribe_path(@topic.team, @topic),
      local: true) do |subscription_form|
      .form-check.form-switch
        = subscription_form.check_box :subscribed, class: 'form-check-input',
          checked: current_user.subscribed_topics.exists?(id: @topic.id)
        = subscription_form.label :subscribed, class: 'form-check-label'
      = subscription_form.submit 'Update Subscription', class: 'btn btn-primary'
    - if @topic.active?
      = link_to 'Edit Topic Description/Title', edit_team_topic_path(@topic.team, @topic)

  .col-lg-4
    %h6
      Outcome
      - if @topic.active?
        (Work in Progress)

    - if @topic.active?
      %p= @topic.outcome_html&.html_safe # rubocop:disable Rails/OutputSafety
      %p
        = link_to 'Edit Outcome', edit_team_topic_path(@topic.team, @topic)
        = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
          = form.hidden_field :status, value: :closed
          = form.submit 'Resolve Topic', class: 'btn btn-primary'
    - else
      %p= @topic.outcome_html&.html_safe # rubocop:disable Rails/OutputSafety
      %p
        = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
          = form.hidden_field :status, value: :active
          = form.submit 'Reopen Topic', class: 'btn btn-primary'

.row.border-top.mb-2
  %ul.list-group.list-group-flush
    - @topic.comments.each do |comment|
      %li.list-group-item
        .row
          .col-lg-7
            %p= comment.body_html.html_safe # rubocop:disable Rails/OutputSafety
          .col-lg-3
            %span
              = link_to comment.user.name, "mailto:#{comment.user.email}"
          .col-lg-2
            - if @topic.active? && policy([:teams, :topics, comment]).edit?
              %span= link_to 'Edit Comment',
                edit_team_topic_comment_path(@topic.team, @topic, comment)
    - if @topic.active?
      %li.list-group-item
        = form_with(model: Comment.new, url: [@topic.team, @topic, Comment.new],
          local: true, class: 'row g-3') do |form|
          = form.hidden_field :user_id, value: current_user.id
          .col-lg-10
            = form.text_area :body, rows: '4', required: true, class: 'form-control'
          .col-lg-2
            = form.submit 'Create Comment', class: 'btn btn-primary'
