%h1= @topic.title

.row.my-1
  %p.text-secondary
    = printable_due_date(@topic)

.row
  .col-lg-8.border
    %h6.mt-2.text-secondary.small Description
    %div!= @topic.description_html

  .col-lg-4.border
    %h6.mt-2.text-secondary.small
      Outcome
      - if @topic.active?
        (Work in Progress)
    - if @topic.outcome_html.blank?
      %p Content has not been started yet.
    - else
      %div!= @topic.outcome_html

.row
  .col-lg-8.my-3.small
    - if @topic.active?
      = link_to 'Edit Topic Context', edit_team_topic_path(@topic.team, @topic)
      (due date, title, description, outcome)

  .col-lg-2.my-3
    - if @topic.active?
      = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
        = form.hidden_field :status, value: :closed
        = form.submit 'Resolve Topic', class: 'btn btn-success'
    - else
      = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
        = form.hidden_field :status, value: :active
        = form.submit 'Reopen Topic', class: 'btn btn-primary'

  .col-lg-2.my-3
    = form_with(url: team_topic_subscribe_path(@topic.team, @topic),
                local: true) do |subscription_form|
      - if user_subscribed?(@topic)
        = subscription_form.hidden_field :subscribed, value: 0
        = subscription_form.submit 'Unwatch Topic', class: 'btn btn-secondary'
      - else
        = subscription_form.hidden_field :subscribed, value: 1
        = subscription_form.submit 'Watch Topic', class: 'btn btn-secondary'

%h5.mt-2.border-bottom Comments

.row
  %ul.list-group.list-group-flush
    - @topic_comments.each do |comment|
      %li.list-group-item.mb-2
        .row
          .col-lg-2
            = image_tag "#{comment.user.gravatar_url}?s=20&d=retro",
              class: 'me-1 gravatar-img', alt: ''
            = link_to comment.user.printable_name, "mailto:#{comment.user.email}"
          .col-lg-1
            %span= comment.created_at.strftime('%b %e')
          .col-lg-9
            %div!= comment.body_html
            - if @topic.active? && policy([:teams, :topics, comment]).edit?
              %span.small= link_to 'Edit Comment',
                edit_team_topic_comment_path(@topic.team, @topic, comment)
        .row
          - comment.votes.each do |vote|
            = vote.emoji.character
    - if @topic.active?
      %li.list-group-item
        = render partial: 'teams/topics/comments/comment_form',
          locals: { comment: @topic.comments.build }
.row.mt-3
  != pagy_bootstrap_nav(@pagy)
