= content_for :extra_nav_items do
  %button.ms-3.btn.btn-sm.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoTopicShow' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page', classname: '')

= render @topic

%h5.mt-4.border-bottom#topic-comments Comments

.row
  %ul.list-group.list-group-flush#comments
    - @topic_comments.each do |comment|
      %li.list-group-item.mb-2
        = render partial: 'teams/topics/comments/comment', locals: { comment: comment }
  - if @pagy.pages > 1
    .row.mt-3
      != pagy_bootstrap_nav(@pagy)

  - if @topic.active?
    = turbo_frame_tag 'new_comment', src: new_team_topic_comment_path(@topic.team, @topic)
