.row-mb-1
  %h2
    %strong= @topic.title

.row
  .col-lg-8.border
    %h6.mt-2.text-secondary.small Description
    %p= @topic.description_html.html_safe # rubocop:disable Rails/OutputSafety

  .col-lg-4.border
    %h6.mt-2.text-secondary.small
      Outcome
      - if @topic.active?
        (Work in Progress)
    %p= @topic.outcome_html&.html_safe # rubocop:disable Rails/OutputSafety

.row
  .col-lg-8.my-3.small
    - if @topic.active?
      = link_to 'Edit Topic Description/Title/Outcome', edit_team_topic_path(@topic.team, @topic)

  .col-lg-2.my-3
    - if @topic.active?
      = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
        = form.hidden_field :status, value: :closed
        = form.submit 'Resolve Topic', class: 'btn btn-success'
    - else
      = form_with(model: @topic, url: [@topic.team, @topic], local: true) do |form|
        = form.hidden_field :status, value: :active
        = form.submit 'Reopen Topic', class: 'btn btn-primary'

  .col-lg-2.my-3
    = form_with(url: team_topic_subscribe_path(@topic.team, @topic),
                local: true) do |subscription_form|
      - if current_user.subscribed_topics.exists?(id: @topic.id)
        = subscription_form.hidden_field :subscribed, value: 0
        = subscription_form.submit 'Unwatch Topic', class: 'btn btn-secondary'
      - else
        = subscription_form.hidden_field :subscribed, value: 1
        = subscription_form.submit 'Watch Topic', class: 'btn btn-secondary'

%h5.mt-2 Comments
.row
  %ul.list-group.list-group-flush
    - @topic.comments.each do |comment|
      %li.list-group-item.mt-2
        .row
          .col-lg-9
            %span= comment.body_html.html_safe # rubocop:disable Rails/OutputSafety
            - if @topic.active? && policy([:teams, :topics, comment]).edit?
              %span.small= link_to 'Edit Comment',
                edit_team_topic_comment_path(@topic.team, @topic, comment)
          .col-lg-2
            %span
              = link_to printable_name(comment.user), "mailto:#{comment.user.email}"
          .col-lg-1
            %span= comment.created_at.strftime('%b %e')
    - if @topic.active?
      %li.list-group-item
        = form_with(model: Comment.new, url: [@topic.team, @topic, Comment.new],
          local: true, class: 'row g-3') do |form|
          = form.hidden_field :user_id, value: current_user.id
          .row.mt-3
            = form.text_area :body, rows: '4', required: true, class: 'form-control'
          .row
            = form.submit 'Add Comment', class: 'btn btn-primary'
