= content_for :extra_nav_items do
  %button.ms-3.btn.btn-sm.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoTopicShow' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page')

= render @topic

- if current_user.preferences.inverse_comment_order?
  = render partial: 'teams/topics/comments/comment_box', locals: { topic: @topic }

- if @topic_comments.present?
  %h5.mt-4#topic-comments
    - if current_user.preferences.inverse_comment_order?
      Comments (Newest to Oldest)
    - else
      Comments (Oldest to Newest)

.row.mb-2
  %ul.list-group.list-group#comments
    - @topic_comments.each do |comment|
      %li.list-group-item.my-2
        = render partial: 'teams/topics/comments/comment', locals: { comment: comment }
  - if @pagy.pages > 1
    .row
      != pagy_bootstrap_nav(@pagy)

- unless current_user.preferences.inverse_comment_order?
  = render partial: 'teams/topics/comments/comment_box', locals: { topic: @topic }
