= content_for :extra_nav_items do
  %button.ms-3.btn.btn-sm.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoHome' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page', classname: '')

%h1 Welcome to AsyncGo

- if current_user
  %p.lead
    You're signed in. The next step is to either get invited to a team or create one. =>
    = link_to 'Create New Team', new_team_path
- else
  %p
    Documentation is available on our #{link_to('docs site', 'https://asyncgo.com/docs')}
    and general product information can be found on our
    #{link_to('home page', 'https://asyncgo.com')}.
  %p.mt-5.fw-bold
    Sign in/create an account with:
  .row
    .col-lg-2.mt-3.mx-3
      = button_to '/auth/google_oauth2',
        'data-turbo': false, class: 'btn btn-google mb-3' do
        = assistive_icon('fab', 'google', 'Google', classname: 'me-2 text-white')
        Google
    .col-lg-2.mt-3.mx-3
      = button_to '/auth/github',
        'data-turbo': false, class: 'btn btn-github mb-3' do
        = assistive_icon('fab', 'github', 'GitHub', classname: 'me-2 text-white')
        GitHub
    .col-lg-2.mt-3.mx-3
      = button_to '/auth/microsoft_graph',
        'data-turbo': false, class: 'btn btn-microsoft mb-3' do
        = assistive_icon('fab', 'microsoft', 'Microsoft', classname: 'me-2 text-white')
        Microsoft
    .col-lg-2.mt-3.mx-3.small
      = button_to '/auth/slack',
        'data-turbo': false, class: 'btn btn-slack mb-3' do
        = assistive_icon('fab', 'slack', 'Slack', classname: 'me-2 text-white')
        Slack
    .col-lg-10

%p.mt-5
  = image_tag('happy_users.png', alt: 'Hello!', class: 'img-fluid')
