= content_for :extra_nav_items do
  %button.ms-3.btn.btn-sm.btn-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoHome' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page', classname: 'text-white')

%h1 Welcome to AsyncGo

- if current_user
  %p.lead
    You're signed in. The next step is to either get invited to a team or create one. =>
    = link_to 'Create New Team', new_team_path
- else
  %p.lead
    AsyncGo is in early access, but you're welcome to sign in and check out what
    we're building.
  %p
    Documentation is available on our #{link_to('docs site', 'https://asyncgo.com/docs')}
    and general product information can be found on our
    #{link_to('home page', 'https://asyncgo.com')}.
  %p
    You can sign in using one of the following account types:
  .row
    .col-lg-1.mt-3.mx-3
      = button_to 'Google', '/auth/google_oauth2',
        'data-turbo': false, class: 'btn btn-primary mb-3'
    .col-lg-1.mt-3.mx-3
      = button_to 'GitHub', '/auth/github',
        'data-turbo': false, class: 'btn btn-primary mb-3'
    .col-lg-1.mt-3.mx-3
      = button_to 'Slack', '/auth/slack',
        'data-turbo': false, class: 'btn btn-primary mb-3'
    .col-lg-10

%p.mt-4
  = image_tag('happy_users.png', alt: 'Hello!', class: 'img-fluid')
