= content_for :extra_nav_items do
  %button.btn.btn-outline-secondary.me-3.d-none.d-lg-block{ id: 'tour-button',
    data: { controller: 'driverjs', action: 'click->driverjs#demoHome' } }
    = assistive_icon('fas', 'question-circle', 'Tour this page')

%h1 Welcome to AsyncGo!

%p.my-4
  Sign in using your external account:

.row
  .col-auto{:"data-turbo" => "false"}
    = button_to '/auth/google_oauth2',
      class: 'btn btn-google mb-3' do
      = assistive_icon('fab', 'google', 'Google', classname: 'me-2 text-white')
      Google
  .col-auto{:"data-turbo" => "false"}
    = button_to '/auth/github',
      class: 'btn btn-github mb-3' do
      = assistive_icon('fab', 'github', 'GitHub', classname: 'me-2 text-white')
      GitHub
  .col-auto{:"data-turbo" => "false"}
    = button_to '/auth/microsoft_graph',
      class: 'btn btn-microsoft mb-3' do
      = assistive_icon('fab', 'microsoft', 'Microsoft', classname: 'me-2 text-white')
      Microsoft
  .col-auto{:"data-turbo" => "false"}
    = button_to '/auth/slack',
      class: 'btn btn-slack mb-3' do
      = assistive_icon('fab', 'slack', 'Slack', classname: 'me-2 text-white')
      Slack

%p.mt-4
  = image_tag('happy_users.png', alt: 'Hello!', class: 'img-fluid')
