Request Info
================

\- Team: #{@user.team.id}
\  - ID: #{@user.team.id}
\  - Name: #{@user.team.name}
\- User
\  - ID: #{@user.id}
\  - Email: #{@user.email}
\  - Name: #{@user.printable_name}

Request Content
================

= @body
