%h1 New Comment

= link_to 'All Comments', topic_path(@topic)

= form_with(model: @comment, url: [@topic, @comment], local: true,
  class: 'row row-cols-1 row-cols-lg-auto g-3') do |form|
  - if @comment.errors.any?
    %div
      %h2 #{pluralize(@comment.errors.count, 'error')} prohibited this comment from being saved:
    %ul
      - @comment.errors.full_messages.each do |message|
        %li= message
  .col
    .input-group
      .input-group-text Body
      = form.text_field :body, class: 'form-control'

  .col
    = form.submit 'Submit', class: 'btn btn-primary'
