%h1 New Comment

= link_to 'All Comments', topic_path(@topic)

= form_with(model: @comment, url: [@topic, @comment], local: true) do |form|
  .form-group
    = form.label :body
    = form.text_field :body, class: 'form-control'

  = form.submit 'Submit', class: 'btn btn-primary'
