!!! 5
%html{ lang: 'en' }
  = render partial: 'shared/head'
  %body.bg-light
    %header.px-2.border-bottom.shadow-sm.mb-2.bg-white
      %nav.navbar.navbar-light.navbar-expand-lg
        .container-fluid
          = link_to root_path, class: 'navbar-brand me-4 border-2', title: 'Topics',
            data: { controller: 'hotkey', hotkey: 'h' } do
            = image_tag('logo.svg', alt: 'AsyncGo logo', class: 'img-fluid mt-1')
            %span.ms-1.me-5 AsyncGo
          - if current_user&.team
            = link_to user_notifications_path(current_user),
              class: 'btn btn-secondary ms-auto me-3 mt-1 text-decoration-none',
              id: 'notifications' do
              = assistive_icon('fas', 'bell', 'Has notification', classname: 'text-warning')
              %span.ms-1.text-white= unique_unread_notifications.count
          %button.navbar-toggler.border-0{ type: 'button', 'data-bs-toggle' => 'collapse',
            'data-bs-target' => '#navbar-content', 'aria-controls' => 'navbar-content',
            'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
            %span.mt-1.navbar-toggler-icon
          .collapse.navbar-collapse#navbar-content
            %ul.navbar-nav.ms-auto
              - if current_user
                - if current_user.team
                  %li.nav-item.pe-3.mt-1
                    %span
                      = link_to new_team_topic_path(current_user.team) do
                        .btn.btn-primary.btn-block.w-100.mb-2#new-topic-button
                          = assistive_icon('fas', 'file-medical', 'New Topic')
                          .d-lg-none
                            New Topic
                  %li.pe-3
                    %span.mt-4
                      = form_with(url: team_topics_path(current_user.team), method: :get) do |form|
                        .input-group.mt-1.mb-2
                          = form.text_field :labels, value: params[:labels],
                            placeholder: 'Separate labels with space',
                            class: 'bg-light form-control', autocomplete: 'off'
                          - if params[:labels].present?
                            .input-group-append
                              = link_to team_topics_path(current_user.team),
                                class: 'btn btn-outline-secondary' do
                                = assistive_icon('fas', 'ban', 'Clear Filter')
                          - else
                            .input-group-append
                              = form.button class: 'btn btn-secondary', type: 'submit',
                                name: nil do
                                = assistive_icon('fas', 'search', 'Filter')
                  %li.nav-item.pe-3.mt-1#admin-nav
                    = link_to edit_team_path(current_user.team_id) do
                      .btn.btn-outline-secondary.btn-block.w-100.mb-2
                        = assistive_icon('fas', 'cog', 'Admin')
                        .d-lg-none Admin
                %li.nav-item.pe-3.mt-1#profile-nav
                  = link_to edit_user_path(current_user) do
                    .btn.btn-outline-secondary.btn-block.w-100.mb-2
                      = assistive_icon('fas', 'user-cog', 'Profile')
                      .d-lg-none Profile
                %li.nav-item.pe-3.mt-1#sign-out-nav
                  = link_to sign_out_path, method: :delete, title: 'Sign out' do
                    .btn.btn-outline-secondary.btn-block.w-100.mb-2
                      = assistive_icon('fas', 'sign-out-alt', 'Sign out')
                      .d-lg-none Sign out
              %li.mt-1
                = yield :extra_nav_items
    - container = current_user&.preferences&.fluid_layout? ? 'container-fluid' : 'container'
    %main.ps-3.mb-3.mt-4{ role: 'main', class: container }
      - if flash.any?
        .mt-1
          - flash.each do |type, message|
            .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
              %span= message
              %button.btn-close{ 'data-bs-dismiss' => 'alert', 'aria-label' => 'close' }
      = yield
