!!! 5
%html{ lang: 'en' }
  %head
    %title AsyncGo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %meta{ name: 'color-scheme', content: 'light dark' }

    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data(camel_case: true)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'dark', media: '(prefers-color-scheme: dark)',
      'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true
    = favicon_link_tag image_path('logo.svg')
  %body
    %header.px-2.border-bottom.shadow-sm.mb-2
      %nav.navbar.navbar-light.navbar-expand-lg
        .container-fluid
          = link_to root_path, class: 'navbar-brand pe-4 border-2' do
            = image_tag('logo.svg', alt: 'AsyncGo logo', class: 'img-fluid')
            %span AsyncGo
          - if current_user&.team
            %span.badge.bg-secondary.fs-6.ms-auto.me-3{ id: 'notifications' }
              = link_to user_notifications_path(current_user), class: 'text-decoration-none' do
                = assistive_icon('fas', 'bell', 'Has notification', classname: 'text-warning')
                %span.text-white= unique_unread_notifications.count
          %button.navbar-toggler.border-0{ type: 'button', 'data-bs-toggle' => 'collapse',
            'data-bs-target' => '#navbar-content', 'aria-controls' => 'navbar-content',
            'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
            %span.navbar-toggler-icon
          .collapse.navbar-collapse#navbar-content
            %ul.navbar-nav.ms-auto
              - if current_user
                - if current_user.team
                  %li
                    %span.badge.bg-secondary.fs-6.mt-2.me-4#activeteam Active Team: #{current_user.team.name}
                  %li.nav-item#topics-nav= active_link_to 'Topics',
                    team_topics_path(current_user.team),
                    'nav-link'
                  %li.nav-item#admin-nav= active_link_to 'Admin',
                    edit_team_path(current_user.team_id),
                    'nav-link'
                - else
                  %li.nav-item#createteam-nav= active_link_to 'Create Team',
                    new_team_path, 'nav-link'
                %li.nav-item#profile-nav= active_link_to 'Profile',
                  edit_user_path(current_user), 'nav-link'
                %li.nav-item#signout-nav= link_to 'Sign out', sign_out_path,
                  method: :delete, class: 'nav-link'
              - else
                %li.nav-item.dropdown#signin-nav
                  %a.nav-link.dropdown-toggle{ href: '#', id: 'signinDropdown', role: 'button',
                    'data-bs-toggle': 'dropdown', 'aria-haspopup': 'true',
                    'aria-expanded': 'false' } Sign in
                  %ul.dropdown-menu{ 'aria-labelledby': 'signinDropdown' }
                    %li= button_to 'Google', '/auth/google_oauth2',
                      'data-turbo': false, class: 'dropdown-item'
                    %li= button_to 'GitHub', '/auth/github',
                      'data-turbo': false, class: 'dropdown-item'
                    %li= button_to 'Slack', '/auth/slack',
                      'data-turbo': false, class: 'dropdown-item'
              %li.nav-item#docs-nav= link_to 'Docs', 'https://asyncgo.com/docs', class: 'nav-link',
                target: :_blank, rel: :noopener
    - container = current_user&.preference&.fluid_layout? ? 'container-fluid' : 'container'
    - if controller.controller_name.in?(['topics', 'home', 'teams', 'users'])
      .container-fluid
        %button.ms-3.btn.btn-sm.btn-secondary{ id: 'tourbutton',
          data: { controller: 'driverjs', action: 'click->driverjs#demo' } }
          = assistive_icon('fas', 'question-circle', 'Tour this page', classname: 'text-white')
    - else
      .container-fluid.mt-5
    %main.ps-3.mb-3{ role: 'main', class: container }
      - if flash.any?
        .mt-2
          - flash.each do |type, message|
            .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
              %span= message
              %button.btn-close{ 'data-bs-dismiss' => 'alert', 'aria-label' => 'close' }
      = yield
