!!! 5
%html{ lang: 'en' }
  %head
    %title AsyncGo
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data(camel_case: true)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://consent.cookiebot.com/uc.js',
        id: 'cookiebot', type: 'text/javascript', 'data-blockingmode': 'auto',
        'data-cbid': '7e1bb1be-facd-4cd1-aef0-b0198b0ec955'
    = yield :page_specific_javascripts
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag image_path('logo.svg')
  %body
    %header.sticky-top.px-2.bg-white.border-bottom.shadow-lg.mb-5
      %nav.navbar.navbar-expand-lg.navbar-light
        .container-fluid
          = link_to root_path, class: 'navbar-brand pe-4 border-2' do
            = image_tag('logo.svg', alt: 'AsyncGo logo', class: 'img-fluid')
            %span AsyncGo
          %button.navbar-toggler.border-0{ type: 'button', 'data-bs-toggle' => 'collapse',
            'data-bs-target' => '#navbar-content', 'aria-controls' => 'navbar-content',
            'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation' }
            %span.navbar-toggler-icon
          .collapse.navbar-collapse#navbar-content
            - if current_user&.team
              %span.badge.bg-secondary.fs-6 Active Team: #{current_user.team.name}
              .my-2.my-lg-0.ms-lg-3.me-auto.dropdown.notification-dropdown
                %span.badge.bg-secondary.fs-6.ml-3
                  = link_to user_notifications_path(current_user), class: 'text-decoration-none' do
                    = assistive_icon('fas', 'bell', 'Has notification', classname: 'text-warning')
                    %span.text-white= unique_unread_notifications.count
            %ul.navbar-nav.ms-auto.me-2
              %li.nav-item= link_to 'Docs', 'https://docs.asyncgo.com', class: 'nav-link',
                target: :_blank, rel: :noopener
              - if current_user
                - if current_user.team
                  %li.nav-item= active_link_to 'Topics', team_topics_path(current_user.team),
                    'nav-link'
                  %li.nav-item= active_link_to 'Admin', edit_team_path(current_user.team_id),
                    'nav-link'
                - else
                  %li.nav-item= active_link_to 'Create Team', new_team_path, 'nav-link'
                %li.nav-item= active_link_to 'Profile', edit_user_path(current_user), 'nav-link'
                %li.nav-item= link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link'
              - else
                %li.nav-item.dropdown
                  %a.nav-link.dropdown-toggle{ href: '#', id: 'signinDropdown', role: 'button',
                    'data-bs-toggle': 'dropdown', 'aria-haspopup': 'true',
                    'aria-expanded': 'false' } Sign in
                  %ul.dropdown-menu{ 'aria-labelledby': 'signinDropdown' }
                    %li= button_to 'Google', '/auth/google_oauth2', class: 'dropdown-item'
                    %li= button_to 'GitHub', '/auth/github', class: 'dropdown-item'
    %main.container.mt-4.mb-3{ role: 'main' }
      .mt-2
        - if flash.any?
          - flash.each do |type, message|
            .alert.alert-dismissible.fade.show{ class: "alert-#{type}", role: 'alert' }
              %span= message
              %button.btn-close{ 'data-bs-dismiss' => 'alert', 'aria-label' => 'close' }
      = yield
